<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body ng-app="ParasolApp" ng-controller="home">
    <div class="container" ng-show="!authenticated">
        <a href="/auth/sflogin">Salesforce: </a> <button type="button" href="/auth/sflogin" class="btn btn-primary btn-lg btn3d">Login</button>
    </div>
    <div class="container" ng-show="authenticated">
        Logged in as: <span ng-bind="user.name"></span>
        <div>
            <button class="btn btn-primary" ng-click="logout()">Logout</button>
            <button class="btn btn-success" ng-click="likes()">Likes</button>
        </div>
        <div ng-show="user.gotLikes">
            <div ng-repeat="like in user.likes">
                {{like}}
            </div>
        </div>
    </div>
    <script src="//code.angularjs.org/1.6.0/angular.min.js"> type="text/javascript"></script>
    <script type="text/javascript">
        angular.module("ParasolApp", [])
            .controller("home", function($scope, $http, $location){
                var self = $scope;
                $http({
                    method: 'GET',
                    url: 'auth/login'
                 }).then(function (success){
                	 console.log("Success!");
                	 self.user = success.userAuthentication.details.modules;
                     self.authenticated = true;
                 },function (error){
                	 console.log("Inside error");
                	 console.log(error);
                	 self.user = "N/A";
                     self.authenticated = false;
                 });

                self.logout = function(){
                    $http.post("/logout", {}).success(function(){
                        self.authenticated = false;
                        $location.path("/");
                    }).error(function(){
                        self.authenticated = false;
                    });
                };
                self.likes = function(){
                    $http.get("http://graph.facebook.com/me").success(function(data){
                        self.gotLikes = true;
                        self.user.profile = JSON.parse(data.data);
                    }).error(function(){
                        self.gotLikes = false;
                        self.user.profile = "Ain't got no profile";
                    });
                }
            });
    </script>
</body>
</html>