<!-- Module Registration -->
<div class="col-md-6 col-md-offset-3">
    <h2>Module Registration</h2>
               
    <form name="myForm" novalidate ng-submit="postdata(url, moduleName, checkedData)" role="form">
        <div class="form-group" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
            <label for="url">URL address</label>
            <input type="text" name="url" id="url" class="form-control" ng-model="url" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" required />
            <span class="error" ng-show="myForm.url.$dirty && myForm.url.$invalid" class="help-block">URL is required </span>
        </div>
        <div class="form-group" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
            <label for="moduleName">Module Name</label>
            <input type="text" name="moduleName" id="moduleName" class="form-control" ng-model="moduleName" required />
            <span class="error" ng-show="myForm.moduleName.$dirty && myForm.moduleName.$invalid " class="help-block">Module name is required </span>
        </div>
        <div>
			  <div>
				<label class="checkbox-inline"><input type="checkbox"  value="VP of Technology" ng-model="checkedData[0].checked"  >VP of Technology</label>
	            <label class="checkbox-inline"><input type="checkbox"  value="BDM" ng-model="checkedData[1].checked" >CFO</label>
	            <label class="checkbox-inline"><input type="checkbox"  value="CFO" ng-model="checkedData[2].checked" >CMO</label>
				<label class="checkbox-inline"><input type="checkbox"  value="CMO" ng-model="checkedData[3].checked" >COO</label>
	            <label class="checkbox-inline"><input type="checkbox"  value="COO" ng-model="checkedData[4].checked" >Content and Quality</label>
			  </div>
			  <div>
				<label class="checkbox-inline"><input type="checkbox"  value="Content and Quality" ng-model="checkedData[5].checked" >BDM</label>
	            <label class="checkbox-inline"><input type="checkbox"  value="HR" ng-model="checkedData[6].checked" >HR</label>
				<label class="checkbox-inline"><input type="checkbox"  value="HR Director" ng-model="checkedData[7].checked" >HR Director</label>
	            <label class="checkbox-inline"><input type="checkbox"  value="Trainers" ng-model="checkedData[8].checked" >Trainers</label>
				<label class="checkbox-inline"><input type="checkbox"  value="Training Recruiters" ng-model="checkedData[9].checked" >Training Recruiters</label>
			  </div>
			  <div>
	            <label class="checkbox-inline"><input type="checkbox"  value="Training Recruitment Director" ng-model="checkedData[10].checked" >Training Recruitment Director</label>
				<label class="checkbox-inline"><input type="checkbox"  value="Associate" ng-model="checkedData[11].checked" >Associate</label>
			  </div>
		 </div>
        <br>
        <div class="form-actions">
            <button type="submit" ng-disabled="myForm.$invalid || dataLoading"  class="btn btn-primary">Register Module</button>
        </div>
    </form>
    {{msg}}
</div>