<html>

<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script  type="text/javascript" src="moduleRegistration.js"></script>


<style>
form .ng-invalid.ng-dirty
{
    background-color: red;
}
form .ng-valid.ng-dirty{
    background-color: lightgreen;
}
button[disabled] {
	border: 1px solid #999;
	background-color: #ddd;
}

h2{
    font-size: 50px;
    color: blue;
    text-shadow: 1px 0px 0px #686868, 1px 1px 0px #686868, 0px 1px 0px #686868, 
    -1px 1px 0px #686868, -1px 0px 0px #686868, -1px -1px 0px #686868, 
    0px -1px 0px #686868, 1px -1px 0px #686868, 1px 4px 5px #aeaeae;
}
</style>

</head>

<body ng-app="ParasolApp" ng-controller="ModuleRegistrationController">
<!-- Nav tabs code to be pasted in to project-->
<div class="col-md-6 col-md-offset-3" >
    <h2>Module Registration</h2>
    <form name="myForm" novalidate ng-submit="vm.registerModule()" role="form">
        <div class="form-group" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
            <label for="url">URL address</label>
            <input type="text" name="url" id="url" class="form-control" ng-model="vm.url" ng-pattern="/^(https?:\/\/)?([\da-z\.-]+)\.([a-z\.]{2,6})([\/\w \.-]*)*\/?$/" required />
            <span class="error" ng-show="myForm.url.$dirty && myForm.url.$invalid" class="help-block">URL is required </span>
        </div>
        <div class="form-group" ng-class="myForm.$valid ? 'ng-valid' : 'ng-invalid'">
            <label for="moduleName">Module Name</label>
            <input type="text" name="moduleName" id="moduleName" class="form-control" ng-model="vm.moduleName" required />
            <span class="error" ng-show="myForm.moduleName.$dirty && myForm.moduleName.$invalid " class="help-block">Module name is required </span>
        </div>
        <div>
            <label class="checkbox-inline"><input type="checkbox" checked value="" disabled>VPTech</label>
            <label class="checkbox-inline"><input type="checkbox" checked value="">CFO</label>
            <label class="checkbox-inline"><input type="checkbox" checked value="" >COO</label>
            <label class="checkbox-inline"><input type="checkbox" checked value="" >CMO</label>
            <label class="checkbox-inline"><input type="checkbox" checked value="" >Content and Quality</label>
        </div>
        <div>
            <label class="checkbox-inline"><input type="checkbox"  value="">Trainer</label>
            <label class="checkbox-inline"><input type="checkbox"  value="">HR</label>
            <label class="checkbox-inline"><input type="checkbox"  value="" >HR Director</label>
            <label class="checkbox-inline"><input type="checkbox"  value="" >Recruiter</label>
            <label class="checkbox-inline"><input type="checkbox"  value="" >Associate</label>
            <label class="checkbox-inline"><input type="checkbox"  value="" >BDM</label>
        </div>
        <br>
        <div class="form-actions">
            <button type="submit" ng-disabled="myForm.$invalid || vm.dataLoading"  class="btn btn-primary">Register Module</button>
        </div>
    </form>
</div> <!-- end of code to be pasted into project -->
</body>


</html>