.nav.nav-justified > li > a { position: relative; }
.nav.nav-justified > li > a:hover,
.nav.nav-justified > li > a:focus { background-color: transparent; }
.nav.nav-justified > li > a > i { border-radius: 50px; box-shadow: 0 0 0 5px #72A4C2; padding:10px; padding-left:13px; }
.nav.nav-justified > li > a > i {
    max-width: 100%; 
    opacity: .3; 
    -webkit-transform: scale(.8,.8);
            transform: scale(.8,.8);
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav.nav-justified > li.active > a > i,
.nav.nav-justified > li:hover > a > i,
.nav.nav-justified > li:focus > a > i { 
    opacity: 1; 
    -webkit-transform: none;
            transform: none;
    -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.tab-pane .tab-inner { padding: 30px 0 20px; }
@media (min-width: 768px) {
    .nav.nav-justified > li > a > .quote {
        left: auto;
        top: auto;
        right: 20px;
        bottom: 0px;
    }  
}
.credits
{
    height:50px;
    bottom:0px;
}

.text-center{

position: absolute;
bottom: 0;
width: 100%;


}
.navbar-custom {
    background:#72A4C2;
    font-weight: 700;
    border: none;
    width: 100%;
}
.logo{
	width:100px;
	height:60px;
	margin: 6px 10px 6px 8px;
	position: absolute;
	right: 0px;
	top: 0px;
}
.tabbars{
	margin: 6px 10px 6px 8px;
	position: absolute;
	right: 0px;
	top: 60px;
}