<!-- Nav tabs -->
                <ul class="nav nav-justified" id="nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#first" ng-click="vm.buttons()" aria-controls="first" role="tab" data-toggle="tab">
                            <img class="img-circle" src="modulesButton.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#second" ng-click="vm.buttons()" aria-controls="second" role="tab" data-toggle="tab">
                            <img class="img-circle" src="modulesButton.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#third" ng-click="vm.buttons()" aria-controls="third" role="tab" data-toggle="tab">
                            <img class="img-circle" src="modulesButton.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#fourth" ng-click="vm.buttons()" aria-controls="fourth" role="tab" data-toggle="tab">
                            <img class="img-circle" src="modulesButton.jpg" />
                            <span class="quote"><i class="fa fa-quote-left"></i></span>
                        </a>
                    </li>
                </ul>
        
           
                <!-- Tab panes -->
                <div class="tab-content" id="tabs-collapse">            
                    <div role="tabpanel" class="tab-pane fade in active" id="first">
                        <div class="tab-inner">                    
                            <p align="center" class="lead">Rogue Module</p>
                        </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="second">
                        <div class="tab-inner">
                            <p align="center" class="lead">A New Module</p>
                            
                        </div>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="third">
                        <div class="tab-inner">
                            <p align="center" class="lead">The Module Strikes Back</p>
                          
                        </div> 
                    </div>
                    
                    <div role="tabpanel" class="tab-pane fade" id="fourth">
                        <div class="tab-inner">
                            <p align="center" class="lead">Revenge of the Module</p>
                        </div>
                    </div>
                </div>